@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.tab-leagues {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  height: 50px;
  border-right: 5px solid #cccc;
}

.tab-standings {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  height: 50px;
}

.standing-info-div {
  margin: 20px 0;
}

.pl-table-header {
  background-color: #f2f2f2;
  font-weight: bold;
}

.pl-table-cell {
  text-align: center;
}

.pl-team-logo img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}