@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@media (max-width: 768px) {

  .w-60 {
    width: 70%;
  }

  .h-60 {
    height: 70%;
  }

  .text-lg {
    font-size: 0.6rem;
  }
}

@media (max-width: 768px) {
  .table-small {
    width: 70%;
  }

  .table-small th,
  .table-small td {
    padding: 0.6rem;
  }
}

@media (max-width: 380px) {
  .table-small {
    width: 50%;
  }

  .table-small th,
  .table-small td {
    padding: 0.4rem;
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content-container {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: #f2f2f2;
}